<header class="fixed left-0 right-0 z-10 border border-gray-700 border-dashed p-4top-0">
    <div class="container flex items-center justify-between mx-auto">
        <div class="flex items-center gap-4 px-6">
            <img src="/lasustech_logo.png" alt="LASUSTECH-logo" class="h-8">
            <img src="/logo_dark_horizontal_097s7oa.svg" alt="GDSC Logo" class="h-6">  
        </div>       
    
        <a href="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-dsc/contentbuilder/logo_dark_horizontal_097s7oa.svg" class="hidden px-6 py-4 text-base font-semibold text-white transition-colors duration-200 ease-in-out border border-gray-700 border-dashed md:inline hover:bg-neutral-950">
            <span class="hidden md:inline">Join US</span>
        </a>
    </div>
    </div>
</header>
<style>
    header {
        /* background-color: #0a0a0a; */
        margin: 20px;
        padding-right: 20px;
        align-items: center;
    }
    </style>