<footer class="fixed bottom-0 left-0 right-0 border border-gray-700 border-dashed">
    <div class="container flex justify-between p-6 mx-auto border border-gray-700 border-dashed">
        <nav class="flex gap-4 md:gap-6">
            <a href="#about" class="text-sm transition-colors duration-200 ease-in-out hover:text-white">who</a>
            <a href="#mission" class="text-sm transition-colors duration-200 ease-in-out hover:text-white">why</a>
            <a href="#team" class="text-sm transition-colors duration-200 ease-in-out hover:text-white">who</a>
        </nav>

        <div class="flex gap-4 md:gap-6">
            <a href="mailto:example@gmail.com"><img class="w-6 h-6 transition duration-200 ease-in-out grayscale hover:grayscale-0" src="/socials/gmail.svg" alt="email"></a>
            <a href="https://www.facebook.com/GDSCLasustech"><img class="w-6 h-6 transition duration-200 ease-in-out grayscale hover:grayscale-0" src="/socials/facebook.svg" alt="email"></a>
            <a href="https://www.instagram.com/gdsc_lasustech"><img class="w-6 h-6 transition duration-200 ease-in-out grayscale hover:grayscale-0" src="/socials/instagram.svg" alt="insta"></a>
            <a href="https://x.com/gdsc_lasustech"><img class="w-6 h-6 transition duration-200 ease-in-out grayscale hover:grayscale-0" src="/socials/x-white.png" alt="discord"></a>
        </div>
    </div>
</footer>
<style>
    footer {
        background-color: #090909;
    }
</style>